.movie-card {
  width: 170px;
  height: 280px;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  background-color: var(--light-gray);
}

.movie-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  background: var(--mutted-gray);
}

.movie-card h3 {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  padding-left: 10px;
  font-family: sans-serif;
}

.movie-card:hover {
  transform: scale(1.02);

  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

a {
  text-decoration: none;
  color: var(--card);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
